<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMPrebundles</key>
	<array>
		<dict>
			<key>AMBundleAppKey</key>
			<string>com.xunmeng.pinduoduo</string>
			<key>AMBundleLocalPath</key>
			<string>com.xunmeng.pinduoduo</string>
			<key>AMBundleLocation</key>
			<string>prebundle/com.xunmeng.pinduoduo.zip</string>
			<key>AMBundleName</key>
			<string>com.xunmeng.pinduoduo</string>
			<key>AMBundleVersion</key>
			<string>6.218.0</string>
		</dict>
		<dict>
			<key>AMBundleLocalPath</key>
			<string>com.xunmeng.pinduoduo.lua</string>
			<key>AMBundleLocation</key>
			<string>prebundle/com.xunmeng.pinduoduo.lua</string>
			<key>AMBundleName</key>
			<string>com.xunmeng.pinduoduo.lua</string>
			<key>AMBundleVersion</key>
			<string>2.23.0</string>
		</dict>
		<dict>
			<key>AMBundleLocalPath</key>
			<string>com.xunmeng.pinduoduo.resource</string>
			<key>AMBundleLocation</key>
			<string>prebundle/com.xunmeng.pinduoduo.resource</string>
			<key>AMBundleName</key>
			<string>com.xunmeng.pinduoduo.resource</string>
			<key>AMBundleVersion</key>
			<string>3.194.0</string>
		</dict>
		<dict>
			<key>AMBundleLocalPath</key>
			<string>com.xunmeng.pinduoduo</string>
			<key>AMBundleLocation</key>
			<string>prebundle/com.xunmeng.pinduoduo.mobile-group.zip</string>
			<key>AMBundleName</key>
			<string>com.xunmeng.pinduoduo.mobile-group</string>
			<key>AMBundleVersion</key>
			<string>1.72.0</string>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>17C88</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>拼多多</string>
	<key>CFBundleExecutable</key>
	<string>pinduoduo</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon20x20</string>
				<string>AppIcon29x29</string>
				<string>AppIcon40x40</string>
				<string>AppIcon57x57</string>
				<string>AppIcon60x60</string>
				<string>AppIcon50x50</string>
				<string>AppIcon72x72</string>
				<string>AppIcon76x76</string>
				<string>AppIcon83.5x83.5</string>
			</array>
			<key>CFBundleIconName</key>
			<string>AppIcon</string>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.xunmeng.pinduoduo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>pinduoduo</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.18.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.weibo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wb3907421985</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pinduoduo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pinduoduo</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pinduoduo.extra</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qngaccv79cv29i</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx77d53b84434b9d9a</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>alipay</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pinduoduoalipay</string>
				<string>pinduoduoalipays</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>tencent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tencent1104790111</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>mqqapi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>QQ41D9C25F</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>qqwallet</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>qqwallet1104790111</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>prefs</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>weixinApps</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx76faba09c81aed00</string>
				<string>wxaa8f1c4ddc18f581</string>
				<string>pinduoduowechat</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pinduoduo.open</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pddopen</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1808140045</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>15F79</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>11.4</string>
	<key>DTSDKBuild</key>
	<string>15F79</string>
	<key>DTSDKName</key>
	<string>iphoneos11.4</string>
	<key>DTXcode</key>
	<string>0940</string>
	<key>DTXcodeBuild</key>
	<string>9F1027a</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>weixin</string>
		<string>wechat</string>
		<string>mqqapi</string>
		<string>mqqopensdkapi</string>
		<string>mqqopensdkapiV2</string>
		<string>mqqopensdkapiV3</string>
		<string>mqqOpensdkSSoLogin</string>
		<string>mqqwallet</string>
		<string>mqqapiwallet</string>
		<string>mqzone</string>
		<string>mqzonev2</string>
		<string>mqzoneopensdk</string>
		<string>mqzoneopensdkapi</string>
		<string>mqzoneshare</string>
		<string>TencentWeibo</string>
		<string>tencentweiboSdkv2</string>
		<string>weibo</string>
		<string>sinaweibo</string>
		<string>sinaweibosso</string>
		<string>weibosdk</string>
		<string>weibosso</string>
		<string>weibosdk2.5</string>
		<string>alipay</string>
		<string>alipays</string>
		<string>alipaysso</string>
		<string>alipayshare</string>
		<string>yqphh</string>
		<string>mqq</string>
		<string>taobao</string>
		<string>openApp.jdMobile</string>
		<string>vipshop</string>
		<string>snssdk141</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>是否允许拼多多使用你的相机上传头像或图片</string>
	<key>NSContactsUsageDescription</key>
	<string>现在拼多多将访问您的通讯录，仅用于查找通讯录好友，不会保存您的通讯录内容。</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>点击允许，将显示您附近的街道、小区。</string>
	<key>NSLocationUsageDescription</key>
	<string>点击允许，将显示您附近的街道、小区。</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>点击允许，将显示您附近的街道、小区。</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>为了录制语音，我们需要您授予麦克风访问权限</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>是否允许拼多多访问你的相册</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许拼多多访问你的相册</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Icon_Message</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>聊天消息</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xunmeng.pinduoduo.MessageCenter</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Icon_Shipmemt</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>查物流</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xunmeng.pinduoduo.Shippment</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>Icon_Spike</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>限时秒杀</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.xunmeng.pinduoduo.Spike</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>LaunchImage-700-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
